{% extends "base.html" %}
{% block title %}Meeting: {{meeting.title}}{% endblock %}
{% block content %}
    <h1>{{meeting.title}}</h1>
    <p>
        This meeting has been scheduled on {{meeting.date}}, at 
        {{meeting.time}} in <strong>{{meeting.room}}</strong>.
    </p>
    <h2>Participants</h2>
    <ul>
        {% for participant in meeting.participants.all %}
            <li>{{participant.username}}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'home' %}">Home</a>
        &nbsp;
        <a href="{% url 'edit' meeting.id %}">Edit</a>
        &nbsp;
        <a href="{% url 'delete' meeting.id %}">Delete</a>
    </p>
{% endblock %}